---
import { getPostUrl } from "~/utils";
interface Props {
  href: string;
  originalUrl?: string;
}
const { href, originalUrl = "" } = Astro.props;
const { original, url } = getPostUrl(href, originalUrl);
---

<a href={url}
  ><slot />
  {
    original == "garden" && (
      <span class="hint--top hint--success" aria-label="点击进入数字花园～">
        🌱
      </span>
    )
  }
  {
    original == "brain" && (
      <span class="hint--top hint--error" aria-label="点击进入第二大脑～">
        🧠
      </span>
    )
  }</a
>
