---
import Link from "~/components/Link.astro";
interface Props {
  href: string;
  title?: string;
  description?: string;
  originalUrl?: string;
}
const { href, title, description, originalUrl } = Astro.props;
---

<li un-flex="~ col gap-1 items-start">
  <h3 class="post-title!">
    <Link href={href} originalUrl={originalUrl}>
      {title}
    </Link>
  </h3>
  <p>{description}</p>
</li>
